In [292]:
import pandas as pd

In [293]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, classification_report

from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier, GradientBoostingClassifier

from xgboost import XGBClassifier

from sklearn.model_selection import GridSearchCV

In [294]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [295]:
import xgboost as xgb
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import fbeta_score, make_scorer
from xgboost.sklearn import XGBRegressor

In [296]:
df=pd.read_csv('train.csv')

In [297]:
df.drop(['Alley','FireplaceQu','PoolQC','MiscFeature','Fence'],axis=1,inplace=True)

In [298]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [299]:
df.drop('Id',axis=1,inplace=True)

In [300]:
x=df.iloc[:,:-1]

In [301]:
y=df.iloc[:,-1:]

In [302]:
x.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,61,0,0,0,0,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,42,0,0,0,0,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,84,0,0,0,0,0,12,2008,WD,Normal

In [303]:
df.drop('SalePrice',axis=1,inplace=True)

In [304]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,61,0,0,0,0,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,42,0,0,0,0,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,84,0,0,0,0,0,12,2008,WD,Normal

In [305]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  OverallCond    1460 non-null   int64
 17  YearBuilt      1460 non-null   int64
 18  YearRemodAdd   1460 non-null   int64
 19  RoofStyle      1460 non-null   object
 20  RoofMatl       1460 non-null   object
 21  Exterior1st    1460 non-null   object
 22  Exterior2nd    1460 non-null   object
 23  MasVnrType     1452 non-null   object
 24  MasVnrArea     1452 non-null   float64
 25  ExterQual      1460 non-null   object
 26  ExterCond      1460 non-null   object
 27  Foundation     1460 non-null   object
 28  BsmtQual       1423 non-null   object
 29  BsmtCond       1423 non-null   object
 30  BsmtExposure   1422 non-null   object
 31  BsmtFinType1   1423 non-null   object
 32  BsmtFinSF1     1460 non-null   int64
 33  BsmtFinType2   1422 non-null   object
 34  BsmtFinSF2     1460 non-null   int64
 35  BsmtUnfSF      1460 non-null   int64
 36  TotalBsmtSF    1460 non-null   int64
 37  Heating        1460 non-null   object
 38  HeatingQC      1460 non-null   object
 39  CentralAir     1460 non-null   object
 40  Electrical     1459 non-null   object
 41  1stFlrSF       1460 non-null   int64
 42  2ndFlrSF       1460 non-null   int64
 43  LowQualFinSF   1460 non-null   int64
 44  GrLivArea      1460 non-null   int64
 45  BsmtFullBath   1460 non-null   int64
 46  BsmtHalfBath   1460 non-null   int64
 47  FullBath       1460 non-null   int64
 48  HalfBath       1460 non-null   int64
 49  BedroomAbvGr   1460 non-null   int64
 50  KitchenAbvGr   1460 non-null   int64
 51  KitchenQual    1460 non-null   object
 52  TotRmsAbvGrd   1460 non-null   int64
 53  Functional     1460 non-null   object
 54  Fireplaces     1460 non-null   int64
 55  GarageType     1379 non-null   object
 56  GarageYrBlt    1379 non-null   float64
 57  GarageFinish   1379 non-null   object
 58  GarageCars     1460 non-null   int64
 59  GarageArea     1460 non-null   int64
 60  GarageQual     1379 non-null   object
 61  GarageCond     1379 non-null   object
 62  PavedDrive     1460 non-null   object
 63  WoodDeckSF     1460 non-null   int64
 64  OpenPorchSF    1460 non-null   int64
 65  EnclosedPorch  1460 non-null   int64
 66  3SsnPorch      1460 non-null   int64
 67  ScreenPorch    1460 non-null   int64
 68  PoolArea       1460 non-null   int64
 69  MiscVal        1460 non-null   int64
 70  MoSold         1460 non-null   int64
 71  YrSold         1460 non-null   int64
 72  SaleType       1460 non-null   object
 73  SaleCondition  1460 non-null   object
dtypes: float64(3), int64(33), object(38)
memory usage: 844.2+ KB

In [306]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,61,0,0,0,0,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,42,0,0,0,0,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,84,0,0,0,0,0,12,2008,WD,Normal

In [307]:
num_cols=[feature for feature in df.columns if df[feature].dtypes!='O']

In [308]:
cat_cols=[feature for feature in df.columns if df[feature].dtypes=='O']

In [309]:
df[cat_cols].head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [310]:
x.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,61,0,0,0,0,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,42,0,0,0,0,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,84,0,0,0,0,0,12,2008,WD,Normal

In [311]:
y.head()

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000

In [312]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1234)

In [313]:
from sklearn .impute import MissingIndicator

In [314]:
categorical_transformer = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy='most_frequent',add_indicator=False)),
        ('onehot', OneHotEncoder(sparse=False,handle_unknown = 'ignore'))
    ]
)

numeric_transformer = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='median',add_indicator=False)),
        ('scaler', StandardScaler())
    ]
)

In [315]:
ct=ColumnTransformer([
    ('num_cols',numeric_transformer,num_cols),
    ('cat_cols',categorical_transformer,cat_cols)
])

In [316]:
xt=ct.fit_transform(x_train)

In [317]:
pd.DataFrame(xt).head()

,0,1,2,3,4,5,6,7,8,9,...,255,256,257,258,259,260,261,262,263,264
0,1.495364,-0.042196,-0.498591,1.356281,-0.518204,0.428344,-0.049338,-0.564424,1.215144,-0.297971,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,-0.868354,-0.042196,-0.066022,-1.495816,-1.400877,0.165795,0.390400,-0.564424,1.383226,-0.297971,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-0.868354,0.218637,-0.056391,1.356281,-0.518204,1.084716,0.976716,0.418063,1.914786,-0.297971,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-0.868354,1.001138,-0.129090,0.643257,-0.518204,0.920623,0.732418,0.095849,-0.961520,-0.297971,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.077133,0.218637,-0.085491,0.643257,-0.518204,1.117535,0.976716,-0.564424,-0.121109,-0.297971,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [318]:
ct.transform(x_test)

array([[ 0.07713309,  0.65336008,  0.30772536, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.54987681,  0.21863742,  0.3346509 , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.07713309, -0.08566844, -0.18459784, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 2.44085172, -1.47678095, -0.84717332, ...,  0.        ,
         1.        ,  0.        ],
       [-0.86835436,  1.26197181,  0.1265993 , ...,  0.        ,
         1.        ,  0.        ],
       [-0.86835436,  0.04474836, -0.36914137, ...,  0.        ,
         1.        ,  0.        ]])

In [319]:
import xgboost
classifier=xgboost.XGBRegressor()
import xgboost
regressor=xgboost.XGBRegressor()

In [320]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]
n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [321]:
# Set up the random search with 4-fold cross validation
random_cv = RandomizedSearchCV(estimator=regressor,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=20,
            scoring = 'neg_mean_absolute_error',n_jobs = 4,
            verbose = 2, 
            return_train_score = True,
            random_state=42)

In [348]:
RF_pipe1= Pipeline(steps=[('preprocessor',ct),
                          ('linera',random_cv)])

In [349]:
RF_pipe1.fit(x_train,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_cols',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['MSSubClass', 'LotFrontage',
                                                   'LotArea', 'OverallQual',
                                                   'OverallCond', 'YearBuilt',
                                                   'YearRemodAdd', 'MasVnrArea',
                                                   'BsmtFinSF1', 'BsmtFinSF2',
                                                   'BsmtUnfSF', 'TotalBsmtSF',
                                                   '1stFlrSF', '2ndFlrSF',
                                                   'Lo...
                                                           predictor=None,
                                                           random_state=None, ...),
                                    n_iter=20, n_jobs=4,
                                    param_distributions={'base_score': [0.25,
                                                                        0.5,
                                                                        0.75,
                                                                        1],
                                                         'booster': ['gbtree',
                                                                     'gblinear'],
                                                         'learning_rate': [0.05,
                                                                           0.1,
                                                                           0.15,
                                                                           0.2],
                                                         'max_depth': [2, 3, 5,
                                                                       10, 15],
                                                         'min_child_weight': [1,
                                                                              2,
                                                                              3,
                                                                              4],
                                                         'n_estimators': [100,
                                                                          500,
                                                                          900,
                                                                          1100,
                                                                          1500]},
                                    random_state=42, return_train_score=True,
                                    scoring='neg_mean_absolute_error',
                                    verbose=2))])

In [350]:
RF_pipe1.predict(x_test)

array([210582.66 , 387685.5  , 173098.16 ,  86212.06 , 217652.3  ,
       206344.34 , 201392.92 , 101188.67 , 272054.06 , 151383.55 ,
       143266.94 , 144956.64 , 134509.22 , 132257.33 , 253232.1  ,
       287457.94 , 175840.7  , 197539.5  , 139308.73 , 150992.17 ,
       154788.48 , 127378.695,  98366.5  , 113845.65 , 253545.5  ,
       223569.89 , 372606.8  , 184694.72 , 281724.4  , 145716.81 ,
       268747.47 , 143893.97 , 291291.   , 125252.35 , 112129.77 ,
       305266.34 , 164909.17 , 167300.98 , 116974.82 , 116665.1  ,
       129306.7  , 125616.016, 131793.78 , 245800.   , 175413.39 ,
       134306.89 , 173615.27 , 158482.03 ,  99747.4  , 141762.47 ,
       207223.12 , 205778.33 , 143446.08 , 108841.08 , 420698.62 ,
       136494.25 , 103668.14 , 143731.83 , 156469.1  , 252982.56 ,
       235815.83 , 151000.69 , 168521.8  ,  93123.375, 204916.52 ,
       111801.97 , 192270.33 , 187492.8  , 144233.66 ,  99538.26 ,
       139045.38 , 150962.86 , 224083.12 , 173888.72 , 183407.95 ,
       169022.72 ,  98804.51 , 338170.25 , 175625.86 , 123020.11 ,
       114666.64 , 342934.78 , 172094.16 , 120106.53 , 265065.28 ,
       312098.34 , 223574.6  , 249042.17 , 120869.13 , 202009.98 ,
        95818.21 , 147554.73 , 185756.53 , 293073.44 , 197663.08 ,
       238591.45 , 230473.78 , 149893.88 , 187971.36 , 141130.88 ,
       130109.234, 185341.42 , 244708.   , 130974.375, 172466.94 ,
       212318.27 , 184776.89 , 115397.9  ,  95118.44 , 154397.06 ,
       248896.03 , 140704.36 , 114944.78 , 176737.14 , 279568.1  ,
       129059.45 , 151925.64 , 219747.92 , 230393.3  , 154799.02 ,
       152532.48 , 257244.8  , 192493.28 ,  58651.117, 185708.16 ,
        63313.113, 269019.88 , 108219.414, 154797.06 ,  75466.305,
       209658.6  , 268486.2  ,  76595.26 , 251215.7  , 168970.36 ,
       106498.664, 189179.45 , 110591.22 , 212683.53 , 243208.81 ,
       202946.06 , 283743.84 ,  99984.43 , 144361.72 , 103149.984,
       189562.25 , 166736.19 ,  89358.92 , 241202.25 , 179078.06 ,
       134800.25 , 167650.83 , 385163.1  , 219878.47 ,  69767.055,
       106301.91 , 312655.6  , 139724.4  , 240108.78 , 126522.305,
       136253.28 , 126052.5  , 179887.81 , 127295.7  , 167761.   ,
       251068.75 , 180376.36 , 109702.875, 205738.78 , 233176.03 ,
       140210.62 ,  92505.516, 167570.19 , 109153.26 ,  87033.47 ,
       135676.64 , 192655.3  ,  49777.75 , 133944.89 , 299657.94 ,
       191202.58 , 279451.53 , 192656.81 , 242841.39 , 405285.34 ,
       221850.02 , 125287.375, 100876.65 , 150497.83 , 147939.34 ,
       188199.55 , 177385.19 , 112844.52 , 184746.75 , 165827.52 ,
       183174.58 , 120718.555, 177926.11 , 115917.69 , 171266.55 ,
       222812.77 , 309460.78 , 194327.72 , 220410.62 , 164522.39 ,
       134095.84 , 167054.42 , 103973.22 , 202547.19 , 143418.25 ,
       171715.48 , 119706.01 , 108547.11 , 189009.14 , 125800.81 ,
       177555.72 , 129412.83 , 122450.586, 214291.84 , 169882.73 ,
       172950.67 , 138055.16 , 115184.21 , 129121.39 , 160340.55 ,
       108329.22 , 397486.1  , 184273.42 , 203593.03 , 279861.7  ,
       337360.5  ,  94490.27 , 122975.86 , 184416.27 , 148336.97 ,
       189096.9  , 120956.09 , 186919.14 ,  77627.06 , 198432.6  ,
       135863.58 ,  96850.96 , 163741.89 , 123547.43 , 185752.78 ,
       220283.69 ,  86595.25 , 145666.36 , 124326.914, 237661.97 ,
       122692.17 , 233780.08 , 213673.19 , 145232.69 , 197804.11 ,
       151316.11 , 125525.9  , 231041.6  , 123735.43 , 254814.84 ,
       166197.23 , 209099.02 , 565457.94 , 190103.17 , 173147.17 ,
       226787.16 , 267635.34 , 225484.69 , 184568.44 , 190211.61 ,
       127702.05 , 261058.58 , 186347.58 , 306924.34 , 112641.11 ,
       228999.14 ,  72782.45 , 355236.94 , 125181.945, 204516.02 ,
       153376.67 , 140357.31 , 217588.11 ,  80675.375, 128144.445,
        77799.36 , 132892.36 , 162605.83 , 221150.55 , 158475.61 ,
       127480.2  , 143358.02 , 275045.9  , 173762.94 , 111538.62 ,
       100613.02 , 134714.4  , 237340.81 , 241262.67 , 119839.85 ,
       145281.03 ,  77740.6  , 120005.445, 154332.98 , 116487.   ,
       206842.92 , 217321.14 , 147009.75 , 164617.62 , 135861.5  ,
       212492.97 , 182126.69 , 139475.23 , 137676.03 , 105797.38 ,
       230599.53 , 103227.42 ,  88752.43 , 139414.34 , 198873.31 ,
       161527.66 , 174714.22 ,  75424.54 , 154799.86 , 213670.52 ,
       110803.24 , 119708.99 ,  99683.24 , 220495.16 , 141515.62 ,
       132829.56 , 161356.89 , 219982.58 , 136086.17 , 142407.39 ,
       230956.19 , 143276.25 , 303595.72 , 188801.12 , 168430.9  ,
       190478.12 , 234232.3  , 230375.95 , 177268.56 , 163153.4  ,
       410902.06 , 176625.84 , 252260.23 , 139690.2  , 298467.   ,
       107718.664, 207966.17 , 154176.1  , 167160.23 , 129011.625,
       115324.14 , 175446.78 , 120140.22 , 150222.02 , 121131.44 ,
       106190.96 , 151520.44 , 134192.98 , 239549.14 ,  85581.23 ,
       325228.4  , 230902.25 , 151172.27 , 167343.38 , 129101.45 ,
       124985.1  , 164728.48 , 188131.61 , 185679.05 , 227713.02 ,
       148442.45 , 362845.5  , 143986.88 , 350618.72 ,  93434.97 ,
       172131.1  , 183859.22 , 171131.92 , 196961.5  , 107463.66 ,
       253990.61 , 144081.33 , 214596.98 , 183211.44 , 176901.05 ,
       151055.25 , 139585.83 , 208183.5  , 233846.8  , 160773.31 ,
       165813.4  , 136856.75 , 201236.86 , 180392.12 , 126365.68 ,
       140198.25 , 107932.39 , 147152.   , 107187.336,  76824.16 ,
       333637.06 , 186334.19 , 204369.1  , 241426.88 , 134465.19 ,
       205323.22 , 165069.62 , 118709.11 , 214186.66 , 129938.62 ,
       137503.52 , 130647.61 , 138742.2  , 130072.38 , 352921.1  ,
       192325.36 , 302985.56 , 231736.25 , 128696.72 , 103423.32 ,
       216760.78 , 166436.83 , 263376.28 , 149727.52 , 116573.94 ,
       175769.42 , 164600.36 , 254027.64 , 221062.64 , 318792.3  ,
       180681.03 , 175560.83 , 131285.27 ], dtype=float32)

In [352]:
RF_pipe1.score(x_test,y_test)

-14495.62367116153

In [326]:
x_test.isnull().sum().sum()

298

In [354]:
RF_pipe1.predict(x_test)

array([210582.66 , 387685.5  , 173098.16 ,  86212.06 , 217652.3  ,
       206344.34 , 201392.92 , 101188.67 , 272054.06 , 151383.55 ,
       143266.94 , 144956.64 , 134509.22 , 132257.33 , 253232.1  ,
       287457.94 , 175840.7  , 197539.5  , 139308.73 , 150992.17 ,
       154788.48 , 127378.695,  98366.5  , 113845.65 , 253545.5  ,
       223569.89 , 372606.8  , 184694.72 , 281724.4  , 145716.81 ,
       268747.47 , 143893.97 , 291291.   , 125252.35 , 112129.77 ,
       305266.34 , 164909.17 , 167300.98 , 116974.82 , 116665.1  ,
       129306.7  , 125616.016, 131793.78 , 245800.   , 175413.39 ,
       134306.89 , 173615.27 , 158482.03 ,  99747.4  , 141762.47 ,
       207223.12 , 205778.33 , 143446.08 , 108841.08 , 420698.62 ,
       136494.25 , 103668.14 , 143731.83 , 156469.1  , 252982.56 ,
       235815.83 , 151000.69 , 168521.8  ,  93123.375, 204916.52 ,
       111801.97 , 192270.33 , 187492.8  , 144233.66 ,  99538.26 ,
       139045.38 , 150962.86 , 224083.12 , 173888.72 , 183407.95 ,
       169022.72 ,  98804.51 , 338170.25 , 175625.86 , 123020.11 ,
       114666.64 , 342934.78 , 172094.16 , 120106.53 , 265065.28 ,
       312098.34 , 223574.6  , 249042.17 , 120869.13 , 202009.98 ,
        95818.21 , 147554.73 , 185756.53 , 293073.44 , 197663.08 ,
       238591.45 , 230473.78 , 149893.88 , 187971.36 , 141130.88 ,
       130109.234, 185341.42 , 244708.   , 130974.375, 172466.94 ,
       212318.27 , 184776.89 , 115397.9  ,  95118.44 , 154397.06 ,
       248896.03 , 140704.36 , 114944.78 , 176737.14 , 279568.1  ,
       129059.45 , 151925.64 , 219747.92 , 230393.3  , 154799.02 ,
       152532.48 , 257244.8  , 192493.28 ,  58651.117, 185708.16 ,
        63313.113, 269019.88 , 108219.414, 154797.06 ,  75466.305,
       209658.6  , 268486.2  ,  76595.26 , 251215.7  , 168970.36 ,
       106498.664, 189179.45 , 110591.22 , 212683.53 , 243208.81 ,
       202946.06 , 283743.84 ,  99984.43 , 144361.72 , 103149.984,
       189562.25 , 166736.19 ,  89358.92 , 241202.25 , 179078.06 ,
       134800.25 , 167650.83 , 385163.1  , 219878.47 ,  69767.055,
       106301.91 , 312655.6  , 139724.4  , 240108.78 , 126522.305,
       136253.28 , 126052.5  , 179887.81 , 127295.7  , 167761.   ,
       251068.75 , 180376.36 , 109702.875, 205738.78 , 233176.03 ,
       140210.62 ,  92505.516, 167570.19 , 109153.26 ,  87033.47 ,
       135676.64 , 192655.3  ,  49777.75 , 133944.89 , 299657.94 ,
       191202.58 , 279451.53 , 192656.81 , 242841.39 , 405285.34 ,
       221850.02 , 125287.375, 100876.65 , 150497.83 , 147939.34 ,
       188199.55 , 177385.19 , 112844.52 , 184746.75 , 165827.52 ,
       183174.58 , 120718.555, 177926.11 , 115917.69 , 171266.55 ,
       222812.77 , 309460.78 , 194327.72 , 220410.62 , 164522.39 ,
       134095.84 , 167054.42 , 103973.22 , 202547.19 , 143418.25 ,
       171715.48 , 119706.01 , 108547.11 , 189009.14 , 125800.81 ,
       177555.72 , 129412.83 , 122450.586, 214291.84 , 169882.73 ,
       172950.67 , 138055.16 , 115184.21 , 129121.39 , 160340.55 ,
       108329.22 , 397486.1  , 184273.42 , 203593.03 , 279861.7  ,
       337360.5  ,  94490.27 , 122975.86 , 184416.27 , 148336.97 ,
       189096.9  , 120956.09 , 186919.14 ,  77627.06 , 198432.6  ,
       135863.58 ,  96850.96 , 163741.89 , 123547.43 , 185752.78 ,
       220283.69 ,  86595.25 , 145666.36 , 124326.914, 237661.97 ,
       122692.17 , 233780.08 , 213673.19 , 145232.69 , 197804.11 ,
       151316.11 , 125525.9  , 231041.6  , 123735.43 , 254814.84 ,
       166197.23 , 209099.02 , 565457.94 , 190103.17 , 173147.17 ,
       226787.16 , 267635.34 , 225484.69 , 184568.44 , 190211.61 ,
       127702.05 , 261058.58 , 186347.58 , 306924.34 , 112641.11 ,
       228999.14 ,  72782.45 , 355236.94 , 125181.945, 204516.02 ,
       153376.67 , 140357.31 , 217588.11 ,  80675.375, 128144.445,
        77799.36 , 132892.36 , 162605.83 , 221150.55 , 158475.61 ,
       127480.2  , 143358.02 , 275045.9  , 173762.94 , 111538.62 ,
       100613.02 , 134714.4  , 237340.81 , 241262.67 , 119839.85 ,
       145281.03 ,  77740.6  , 120005.445, 154332.98 , 116487.   ,
       206842.92 , 217321.14 , 147009.75 , 164617.62 , 135861.5  ,
       212492.97 , 182126.69 , 139475.23 , 137676.03 , 105797.38 ,
       230599.53 , 103227.42 ,  88752.43 , 139414.34 , 198873.31 ,
       161527.66 , 174714.22 ,  75424.54 , 154799.86 , 213670.52 ,
       110803.24 , 119708.99 ,  99683.24 , 220495.16 , 141515.62 ,
       132829.56 , 161356.89 , 219982.58 , 136086.17 , 142407.39 ,
       230956.19 , 143276.25 , 303595.72 , 188801.12 , 168430.9  ,
       190478.12 , 234232.3  , 230375.95 , 177268.56 , 163153.4  ,
       410902.06 , 176625.84 , 252260.23 , 139690.2  , 298467.   ,
       107718.664, 207966.17 , 154176.1  , 167160.23 , 129011.625,
       115324.14 , 175446.78 , 120140.22 , 150222.02 , 121131.44 ,
       106190.96 , 151520.44 , 134192.98 , 239549.14 ,  85581.23 ,
       325228.4  , 230902.25 , 151172.27 , 167343.38 , 129101.45 ,
       124985.1  , 164728.48 , 188131.61 , 185679.05 , 227713.02 ,
       148442.45 , 362845.5  , 143986.88 , 350618.72 ,  93434.97 ,
       172131.1  , 183859.22 , 171131.92 , 196961.5  , 107463.66 ,
       253990.61 , 144081.33 , 214596.98 , 183211.44 , 176901.05 ,
       151055.25 , 139585.83 , 208183.5  , 233846.8  , 160773.31 ,
       165813.4  , 136856.75 , 201236.86 , 180392.12 , 126365.68 ,
       140198.25 , 107932.39 , 147152.   , 107187.336,  76824.16 ,
       333637.06 , 186334.19 , 204369.1  , 241426.88 , 134465.19 ,
       205323.22 , 165069.62 , 118709.11 , 214186.66 , 129938.62 ,
       137503.52 , 130647.61 , 138742.2  , 130072.38 , 352921.1  ,
       192325.36 , 302985.56 , 231736.25 , 128696.72 , 103423.32 ,
       216760.78 , 166436.83 , 263376.28 , 149727.52 , 116573.94 ,
       175769.42 , 164600.36 , 254027.64 , 221062.64 , 318792.3  ,
       180681.03 , 175560.83 , 131285.27 ], dtype=float32)

In [328]:
RF_pipe.score(x_test,y_test)

0.8667431773447735

# HANDLING tEST DATA SET

In [329]:
df_test=pd.read_csv('test.csv')

In [330]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [331]:
df_test.drop(['Alley','FireplaceQu','PoolQC','MiscFeature','Fence'],axis=1,inplace=True)

In [332]:
df_test.drop('Id',axis=1,inplace=True)

In [355]:
predictions=RF_pipe1.predict(df_test)

In [356]:
sample=pd.read_csv('sample_submission.csv')

In [357]:
sample.shape

(1459, 2)

In [336]:
sample.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [358]:
sample.drop('SalePrice',axis=1,inplace=True)

In [359]:
sample.head()

     Id
0  1461
1  1462
2  1463
3  1464
4  1465

In [360]:
final=pd.DataFrame(predictions,columns=['SalePrice'])

In [361]:
final.head()

       SalePrice
0  124462.796875
1  164319.921875
2  182629.078125
3  190356.343750
4  180864.718750

In [362]:
sample_submission_1=sample.join(final)

In [363]:
sample_submission_1.head()

     Id      SalePrice
0  1461  124462.796875
1  1462  164319.921875
2  1463  182629.078125
3  1464  190356.343750
4  1465  180864.718750

In [364]:
import os

In [344]:
os.getcwd()

'C:\\Users\\karan'

In [345]:
sample_submission_1.to_csv('.\house_price_submission')

In [346]:
os.getcwd()

'C:\\Users\\karan'

In [365]:
sample_submission_1.to_csv(".\house_price_submission_5.csv",index=None)

In [366]:
sample_submission_1

        Id      SalePrice
0     1461  124462.796875
1     1462  164319.921875
2     1463  182629.078125
3     1464  190356.343750
4     1465  180864.718750
...    ...            ...
1454  2915   81869.031250
1455  2916   71803.914062
1456  2917  174730.671875
1457  2918  123152.375000
1458  2919  213735.484375

[1459 rows x 2 columns]